body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

a {
    color: #ffffff;
}

a.registration {
    color: #090909;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.archive .archive .one-post .post-title {
    font-size: 32px;
    line-height: 64px;
}

.archive .one-post .article-info .article-author {
    width:50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

.nav {
    --bs-nav-link-color: #fff;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #0c7d67;
}

.navbar-text {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #fff;
    font-size: 19px;
    line-height: 19px;
}

.navbar .container {
    display: flex;
    justify-content: right;
    width: 100%;
}

.nav-link {
    text-align: right;
    font-size: 19px;
    line-height: 19px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.archive .one-post .article-text {
    font-size: 14px;
}

.article {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.article .all_article{
    color:#ffffff;
    font-size: 24px;
    text-align: right;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0c7d67;
    margin-block-end: 10px;
}

.pt-5 {
        display: flex;
        justify-content: center;
        padding-top: 1rem !important;
}

p {
    margin-top: 10px;
}