<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css"> 
    <title> Архив статей </title>
  </head>
  <body>
    <div class="header">
      {% load static %}
      <img class="displayed" src="{% static "img/logotip.png" %}" />
    </div>
    <div class="archive">
      <div class="one-post">
        <div class="article-to-all">
            <a class='article-to-all' href="{% url 'archive' %}"> Все статьи </a>
        </div>
        <h2 class="post-title">{{ post.title }}</h2> 
        <div class="article-info">
          <div class="article-author"> {{ post.author.username}} </div>
          <div class="article-created-date"> {{ post.created_date }} </div>
        </div>
        <p class="article-text"> {{ post.text }}</p>
      </div>
    </div>
  </body>
</html>
